{{#section 'title'}}
Cập nhật mật khẩu
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/public/css/account/updatePass.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Icons font CSS-->
<link href="/public/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="/public/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link
    href="/public/https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<!-- Vendor CSS-->
<link href="/public/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="/public/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
{{/section}}

{{#section 'js'}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $(`.div-input input`).on(`focus`, function () {
            this.classList.add(`focus`);
        })

        $(`.div-input input`).on(`blur`, function () {
            if ($(this).val().length == 0)
                this.classList.remove(`focus`);
        })
    })
</script>
<script src="/public/vendor/jquery/jquery.min.js"></script>
<script src="/public/vendor/select2/select2.min.js"></script>
<script src="/public/vendor/datepicker/moment.min.js"></script>
<script src="/public/vendor/datepicker/daterangepicker.js"></script>
<script src="/public/js/updatePassword.js"></script>
{{/section}}

<div class="backward">
    <a href="javascript:history.back()">
        <i class="fa fa-arrow-left"></i>
    </a>
</div>
<form method="POST" action="" id="frmUpdatePassword">
    <h2 class="title">Mật khẩu mới mong muốn</h2>
    {{#if lcIsAuthenticated}}
    <div class="div-input">
        <input class="input--style-3" type="password" id="curPassword" name="curPassword">
        <span data-placeholder="Current password"></span>
    </div>
    <input class="js-message-curPassword alert alert-danger" disabled type="hidden">
    {{/if}}
    <div class=" div-input">
        <input class="input--style-3" type="password" id="password" name="password">
        <span data-placeholder="New password"></span>
    </div>
    <input class="js-message-password alert alert-danger" disabled type="hidden">

    <div class=" div-input">
        <input class="input--style-3" type="password" id="confirmPassword" name="confirmPassword">
        <span data-placeholder="Confirm new password"></span>
    </div>
    <input class="js-message-confirmPassword alert alert-danger" disabled type="hidden">

    <div class="p-t-10">
        <button class="btn btn--pill btn--green" type="submit">Xác nhận</button>
    </div>
</form>