body{
    font-family: "Montserrat";
    background: #fff;
}

section{
    /*border: 1px solid red;*/
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}
    section .empty{
        /*border: 1px solid #000;*/
        /*width: 100%;*/
        text-align: center;
    }

#title_user{
    /*border: 1px solid #000;*/
    margin: 10px 0px 10px 0px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
    #title_user h2{
        text-transform: uppercase;

    }
    #title_user .empty-div{
        /*border: 1px solid #000;*/
        flex-grow: 1;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
        height: 100%;
        padding: 5px 5px;
    }
        #title_user .empty-div span{
            font-size: 12px;
        }
        #title_user .empty-div span i{
            font-size: 12px;
            animation: hand-point 0.8s linear infinite;
        }
            @keyframes hand-point {
                0%{
                    margin-right: 10px;
                }
                50%{
                    margin-right: 5px;
                }
                100%{
                    margin-right: 0px;
                }
            }
    #title_user .user-add-btn{
        border: 1px solid #000;
        width: 50px;
        height: 30px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(6, 95, 212);
    }
    #title_user .user-add-btn:hover{
        color: #fff;
        background: rgb(6, 95, 212);
    }

table{
    width:100%;
    table-layout: fixed;
}

.table_header{
    background: #B993D6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
    }
    .table_header table .user_STT{
        width: 5%;
        font-weight: bolder;
        font-size: 15px;
    }
    .table_header table .user_username{
        width: 20%;
        font-weight: bolder;
        font-size: 15px;

    }
    .table_header table .user_name{
        width: 20%;
        font-weight: bolder;
        font-size: 15px;

    }
    .table_header table .user_gender{
        width: 8%;
        font-weight: bolder;
        font-size: 15px;

    }
    .table_header table .user_email{
        width: 20%;
        font-weight: bolder;
        font-size: 15px;

    }
    .table_header table .user_phone{
        width: 10%;
        font-weight: bolder;
        font-size: 15px;

    }
    .table_header table .user_role{
        width: 10%;
        font-weight: bolder;
        font-size: 15px;

    }
    .table_header table .user_action{
        width: 10%;
        font-weight: bolder;
        font-size: 15px;

    }

.table_content{
    border: 1px solid #fff;
    max-height:370px;
    margin-top: 0px;
    height: 370px;
    overflow-y: auto;
}
    .table_content table .user_STT{
        width: 5%;
    }
    .table_content table .user_username{
        width: 20%;

    }
    .table_content table .user_name{
        width: 20%;

    }
    .table_content table .user_gender{
        width: 8%;

    }
    .table_content table .user_email{
        width: 20%;

    }
    .table_content table .user_phone{
        width: 10%;

    }
    .table_content table .user_role{
        width: 10%;

    }
    .table_content table .user_action{
        width: 10%;
        /*border: 1px solid #000;*/
        text-align: center;
    }
    .table_content table tr:nth-child(odd){
        background: #B7CEEC;
    }
    .table_content table tr:hover{
        background: rgba(255, 246, 143, 1);
    }
th{
    padding: 10px 10px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
}

td{
    /*border: 1px solid #000;*/
    padding: 10px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #000;
    /*border-bottom: solid 1px rgba(255,255,255,0.1);*/
}