 <footer class="footer-area" id="blur2">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="footer-widget ">
                   
                        <a href="index.html" class="foo-logo"><img src="/public/images/minilogo.png" alt=""></a>
                        <p style="color: white;">Khoa Công nghệ Thông tin, Trường Đại học Khoa học Tự nhiên, ĐHQG-HCM</p>
                        <p style="color: white;">Faculty of Information Technology, VNUHCM-University of Science</p>
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="footer-widget">
                        <h6 class="widget-title">Member</h6>
                        <nav class="footer-widget-nav">
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-double-right mb-2" aria-hidden="true"></i> Bùi Hồng Ân</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> 20424001</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right mb-2 " aria-hidden="true"></i>Phan Vũ Thanh Đạo</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>20424011</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right mb-2 " aria-hidden="true"></i>Nguyễn Thế Đạo</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>20424010</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right mb-2 " aria-hidden="true"></i>Phạm Thị Ngọc Hạnh</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>20424026</a></li>
                                </ul>
                        </nav>
                    </div>
                </div>

 
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="footer-widget">
                        <h6 class="widget-title">Contact</h6>
                         <div class="footer-widget ">
                             <div class="d-flex" >
                            <i class="fa fa-phone" style="color: white; margin-right: 9px; padding: .5em;
    display: inline-block;"></i><p style="color: white;">0123456789</p>
                             </div>

                             <div class="d-flex" >
                            <i class="fa fa-facebook" style="color: white; margin-right: 9px; padding: .5em;
    display: inline-block;"></i><p style="color: white;">None</p>
                             </div>

                              <div class="d-flex" >
                            <i class="fa fa-google" style="color: white; margin-right: 9px; padding: .5em;
    display: inline-block;"></i><p style="color: white;">None</p>
                             </div>
                             
      
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
